<mat-toolbar class="flex justify-between p-2">
    <div> Admission Enquiry Form</div>
    <button class="pr-5" mat-flat-button color="accent" *ngIf="applyforadmission" routerLink="/admin">Admin</button>
    <button class="pr-5" mat-flat-button color="accent" *ngIf="!applyforadmission" (click)="home()">Home</button>
</mat-toolbar>
<form (ngSubmit)="submit()" [formGroup]="studentadmissionform" class="flex pt-10 pl-96 flex-col" *ngIf="applyforadmission">
    <div class="flex text-xl font-medium text-rose-700">
        Student Information
    </div>
    <div class="flex pt-5 flex-row" >
        <div class="text-lg font-medium text-blue-700">
            Student Name
        </div>
        <div class="text-lg font-medium text-red-600">
            *
        </div>
    </div>
    <div class="flex pt-3" >
            <mat-form-field  class="w-96" appearance="fill">
                <mat-label>Full Name</mat-label>
                <input matInput formControlName="studentfullname">
              </mat-form-field>
    </div>
    <div class="flex w-96">
            <div class="text-lg font-medium text-blue-700">
                Email
            </div>
            <div class="text-lg font-medium text-red-600">
                *
            </div>
    </div>
    <div class="flex pt-3 flex-row w-full" >
          <mat-form-field class="w-96" appearance="fill">
            <mat-label>Email</mat-label>
            <input type="email" matInput  [errorStateMatcher]="matcher"
                   placeholder="Ex.pat@example.com" formControlName="studentemail">
            <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
              Please enter a valid email address
            </mat-error>
            <mat-error *ngIf="emailFormControl.hasError('required')">
              Email is <strong>required</strong>
            </mat-error>
          </mat-form-field>
    </div>
    <div class="flex pt-1 font-medium text-rose-700" *ngIf="emailerror">
        Email already exists. Please enter valid email.
    </div>
    <div class="flex pt-3 pl-28 flex-row">
        <button class="flex pt-10 h-9" mat-flat-button color="accent" type="submit"> 
            Apply Admission</button>
        <mat-spinner  mode="indeterminate" style="margin: 5px;" [diameter]="30" *ngIf="isloading"></mat-spinner>
    </div>
</form>

<div class="flex pl-80 pt-40 flex-col w-full h-full" *ngIf="!applyforadmission">
    <div class="flex text-xl font-medium text-rose-700">
        Admission applied successfully. Please sign the form sent to your email.
    </div>
</div>