<mat-toolbar class="flex justify-between p-2">
    <div> Admin Portal</div>
    <button class="pr-5" mat-flat-button color="accent" routerLink="/">Home</button>
</mat-toolbar>
<div class="flex items-center justify-evenly w-8/12 pt-48 pl-52 ">
    <button  mat-flat-button color="accent" routerLink="/">View Active Applicants</button>
    <button  mat-flat-button color="accent" routerLink="/">Verify Student Application</button>
    <button  mat-flat-button color="accent" routerLink="/">Send Mark Report</button>
</div>