<mat-toolbar class="flex justify-between p-2">
    <div> Admin Portal</div>
    <button class="pr-5" mat-flat-button color="accent" routerLink="/">Home</button>
</mat-toolbar>
<div class="flex justify-center pt-48 w-full">
    <div class="grid grid-cols-3 gap-8 items-center self-center">
        <button  mat-flat-button color="accent" routerLink="/admin/active-applicants">View Active Applicants</button>
        <button  mat-flat-button color="accent" routerLink="/admin/verify-application">Verify Completed Applications</button>
        <button  mat-flat-button color="accent" routerLink="/admin/send-report">Send Mark Report</button>
    </div>
</div>
